:root {
    --bg-color: #F4F4F4;
    --black: #000000;

    --marginDesktop: 32px;
}

body {
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
}


.poster-container{
    height:100vh;
    width:100%;
    position: relative;
}

.poster{
    position: absolute;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster svg{
    height:90%;
}



.scale-element {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
    touch-action: none;
}